services:
  web:
    build:
      context: ../django_app
      dockerfile: Dockerfile
    command: gunicorn open_camo.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ../django_app:/workspace
    depends_on:
      - db
      - nginx

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ../nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  postgres-data:
